.Services {
    height: 100vh;
    top: 1800px;
    position: absolute;
    width: 100%;
    z-index: -2;
    left: -75px;
    margin-top: 130px;
}

.Soustraction-5 {
    position: absolute;
    right: -75px;
    top: 105px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../../Assets/img/Soustraction6.png') no-repeat no-repeat;
    background-position: right top;
}

.recipes {
    position: absolute;
    right: 27px;
    top: 450px;
    width: 500px;
    z-index: -1;
    background-position: right top;
}

.fonts {
    margin-top: 75px;
}

.list-group-item {
    border: none;
    padding-left: 0px;
    background: transparent;
}

.it {
    font-size: 28px;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
    margin-top: 20px;
}

.green-circle {
    background-color: #2BC25E;
    border-radius: 50%;
    padding: 10px;
    color: white;
    margin-right: 20px;
}

.fa-globe {
    margin-left: 5px;
    margin-right: 5px;
}
.fa-mobile {
    margin-left: 8px;
    margin-right: 8px;
}
.text-service {
    font-size: 28px;
}
@media (min-width:320px) and (max-width: 566px) {
    .list-group {
        width: 280px;
    }
    .text-service {
        font-size: 15px !important;
    }
    .recipes img {
        position: absolute;
        width: 63% !important;
        right: -102px;
        top: -110px;
        z-index: -1;
        background-position: right top;
        opacity: 0.5;
    }
}
@media (max-width:567px) {
    .Soustraction-5 {
        position: absolute;
        right: -75px;
        top: 105px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Soustraction6-2.png') no-repeat no-repeat;
        background-position: right top;
    }
    .recipes img {
        position: absolute;
        width: 100%;
        right: -102px;
        top: -110px;
        z-index: -1;
        background-position: right top;
        opacity: 0.5;
    }
    .text-service {
        font-size: 20px;
    }
}

@media (min-width:568px) and (max-width:767px) {
    .Soustraction-5 {
        position: absolute;
        right: -75px;
        top: 105px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Soustraction6-2.png') no-repeat no-repeat;
        background-position: right top;
    }
    .recipes img {
        position: absolute;
        width: 100%;
        right: -102px;
        top: -110px;
        z-index: -1;
        background-position: right top;
        opacity: 0.5;
    }
    .text-service {
        font-size: 20px !important;
    }
}
@media (min-width: 768px) and (max-width:991px) {
    .Soustraction-5 {
        position: absolute;
        right: -75px;
        top: 105px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Soustraction6-2.png') no-repeat no-repeat;
        background-position: right top;
    }
    .recipes img {
        position: absolute;
        width: 100%;
        right: -102px;
        top: -110px;
        z-index: -1;
        background-position: right top;
        opacity: 0.5;
    }

}