.Team {
    height: 100vh;
    top: 3200px;
    position: absolute;
    width: 100%;
    z-index: -2;
    left: -75px;
    margin-top: 130px;
}

.team-pictures {
    display: flex;
    margin-top: 50px;
}

.texts {
    position: absolute;
    top: 15px;
    margin-left: 15px;
    color: grey;
}

.Col {
    color: #000;
}

.title-adventure {
    margin-top: 70px;
    margin-bottom: 30px;
}

@media (min-width: 280px) and (max-width:419px) {
    .Team {
        height: 100vh;
        top: 3600px;
        position: absolute;
        width: 100%;
        z-index: -2;
        left: -75px;
        margin-top: 130px;
    }
    .title {
        font-size: 30px;
        color: #A7A7A7;
        width: 100% !important;
    }
    .text {
        color: #A7A7A7;
        font-size: 18px;
        width: 150%;
        margin-left: -25px;
        margin-top: -15px;
    }
    .logos-customers {
        text-align: center;
        margin-top: 80px;
        margin-left: 85px;
    }
    .log {
        margin-left: 0px;
        margin-bottom: 20px;
        width: 100px;
    }
    .sm {
        margin-top: 10px;
    }
}

@media (max-width:567px) {
    .team-pictures {
        display: grid;
        margin-top: 15px;
    }
    .texts {
        position: absolute;
        top: 9px;
        color: grey;
        margin-left: 45px;
        font-size: 14px;
    }
    .img {
        margin-right: -20px;
        width: 80px;
    }
    .col-sm-5 {
        margin-bottom: 20px;
    }
    .col-sm-4 {
        margin-bottom: 20px;
        width: 250px;
    }
    .col-sm-6 {
        margin-bottom: 20px;
    }
    .title-adventure {
        font-size: 2rem;
    }
}

@media (min-width: 568px) and (max-width: 767px) {
    .team-pictures {
        display: grid;
        margin-top: 15px;
    }
    .texts {
        position: absolute;
        top: 20px;
        color: grey;
        margin-left: 45px;
        width: 120%;
    }
    .img {
        margin-right: -20px;
        width: 80px;
    }
    .col-sm-5 {
        margin-bottom: 20px;
    }
    .col-sm-4 {
        margin-bottom: 20px;
    }
    .col-sm-6 {
        margin-bottom: 20px;
    }
    .title-adventure {
        font-size: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .team-pictures {
        display: grid;
        margin-top: 15px;
    }
    .texts {
        position: absolute;
        top: 20px;
        color: grey;
        margin-left: 45px;
        width: 120%;
    }
    .img {
        margin-right: -20px;
        width: 80px;
    }
    .col-sm-5 {
        margin-bottom: 20px;
    }
    .col-sm-4 {
        margin-bottom: 20px;
    }
    .title-adventure {
        font-size: 2rem;
    }
}