.About-us {
    height: 100vh;
    top: 750px;
    position: absolute;
    width: 100%;
    z-index: -3;
}

.Soustraction {
    background: url('../../Assets/img/Soustraction1.png') no-repeat no-repeat;
    background-position: left top;
    position: absolute;
    left: -75px;
    width: 100%;
    z-index: -3;
    height: 100vh;
}

.title {
    font-size: 45px;
    color: #A7A7A7;
}

.text-div {
    width: 800px;
    margin-top: 40px;
}

.middle {
    margin-top: 150px;
    vertical-align: middle;
}

.pseudo_border {
    position: relative;
    display: inline-block;
}

.pseudo_border:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    margin: 10px auto;
    width: 50%;
    height: 5px;
    background: #2BC25E;
}
@media (min-width: 320px) and (max-width: 566px) {
    .display-4 {
        font-size: 1.9rem;
        font-weight: 300;
        line-height: 1.2;
        width: 100%;
        display: block;
    }
}
@media (max-width: 575px) {
    .Soustraction {
        background-position-x: 0%;
        background-position-y: 0%;
        background-position: left top;
        position: absolute;
        width: 120%;
        z-index: -3;
        height: 125vh;
    }
    .middle {
        padding: 90px;
        margin-top: 15px !important;
        margin-left:28px;
        vertical-align: middle;
    }
    .title {
        font-size: 25px;
        color: #A7A7A7;
    }
    .text-div {
        width: 100% !important;
        margin-top: 40px;
    }
    .display-4 {
        font-size: 2.1rem;
        font-weight: 300;
        line-height: 1.2;
        width: 100%;
        display: block;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .Soustraction {
        background-position-x: 0%;
        background-position-y: 0%;
        background-position: left top;
        position: absolute;
        width: 100%;
        z-index: -3;
        height: 125vh;
    }
    .middle {
        padding: 90px;
        margin-top: 15px !important;
        margin-left:28px;
        vertical-align: middle;
    }
    .title {
        font-size: 25px;
        color: #A7A7A7;
    }
    .text-div {
        width: 155% !important;
        margin-top: 40px;
    }
    .display-4 {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
        width: 100%;
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .Soustraction {
        background-position-x: 0%;
        background-position-y: 0%;
        background-position: left top;
        position: absolute;
        width: 100%;
        z-index: -3;
        height: 125vh;
    }
    .middle {
        padding: 90px;
        margin-top: 15px !important;
        margin-left:28px;
        vertical-align: middle;
    }
    .title {
        font-size: 25px;
        color: #A7A7A7;
    }
    .text-div {
        width: 100% !important;
        margin-top: 40px;
    }
    .display-4 {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
        width: 100%;
        display: block;
    }
}
@media (min-width: 992px){
    .Soustraction {
        background: url('../../Assets/img/SoustractionWhite.png') no-repeat no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-position: left top;
        position: absolute;
        width: 100%;
        z-index: -3;
        height: 125vh;
    }
    .middle {
        padding: 90px;
        margin-top: 130px !important;
        vertical-align: middle;
    }
    .title {
        font-size: 25px;
        color: #A7A7A7;
    }
    .text-div {
        width: 800px;
        margin-top: 40px;
    }
    
    .middle {
        margin-top: 150px;
        vertical-align: middle;
    }
}