.Customers {
    height: 100vh;
    top: 2700px;
    position: absolute;
    width: 100%;
    z-index: -2;
    left: -75px;
    margin-top: 130px;
}

.logos-customers {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 80px;
}

.log {
    margin-left: 60px;
}

.text {
    color: #A7A7A7;
    margin-top: 90px;
    font-size: 32px;
    width: 100%;
    margin-left: 67px;
}
@media (max-width: 567px) {
    .Customers {
        height: 100vh;
        top: 2700px;
        position: absolute;
        width: 100%;
        z-index: -2;
        left: -75px;
        margin-top: 130px;
    }
    .logos-customers {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 80px;
    }
    .log {
        margin-left: 0px;
        width:96px;
    }
    .text {
        color: #A7A7A7;
        margin-top: 90px;
        font-size: 24px;
        width: 100%;
        margin-left: 0px;
    }
}
@media (min-width: 320px) and (max-width:567px) {
    .Customers {
        height: 100vh;
        top: 2550px;
        position: absolute;
        width: 100%;
        z-index: -2;
        left: -75px;
        margin-top: 130px;
    }
}
@media (min-width: 568px) and (max-width:767px) {
    .Customers {
        height: 100vh;
        top: 2550px;
        position: absolute;
        width: 100%;
        z-index: -2;
        left: -75px;
        margin-top: 130px;
    }
    .logos-customers {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 80px;
        width:150%;
    }
    .log {
        margin-left: 0px;
        width:110px;
    }
    .text {
        color: #A7A7A7;
        margin-top: 90px;
        font-size: 24px;
        width: 100%;
        margin-left: 0px;
    }
}
@media (min-width: 768px) and (max-width:991px) {
    .Customers {
        height: 100vh;
        top: 2700px;
        position: absolute;
        width: 100%;
        z-index: -2;
        left: -75px;
        margin-top: 130px;
    }
    .logos-customers {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 80px;
        width:100%;
    }
    .log {
        margin-left: 0px;
        width:130px;
    }
    .text {
        color: #A7A7A7;
        margin-top: 90px;
        font-size: 24px;
        width: 100%;
        margin-left: 0px;
    }
}
@media (min-width: 992px) and (max-width:1199px) {
    .Customers {
        height: 100vh;
        top: 2700px;
        position: absolute;
        width: 100%;
        z-index: -2;
        left: -75px;
        margin-top: 130px;
    }
    .logos-customers {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 80px;
        width:100%;
    }
    .log {
        margin-left: 0px;
        width:150px;
    }
    .text {
        color: #A7A7A7;
        margin-top: 90px;
        font-size: 24px;
        width: 100%;
        margin-left: 0px;
    }
}