@font-face {
  font-family: 'Express Way';
  font-style: normal;
  font-weight: 400;
  src: url('../Assets/fonts/expressway-rg.ttf') format('truetype');    
}
.App {
  text-align: center;
  font-family: 'Express Way';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.navbar-light .navbar-toggler {
  border-color: transparent !important;
}

