.App-logo {
    width: 180px;
    text-align: left;
    padding: 15px 4px;
}

.App-header {
    position: absolute;
    height: 100vh;
    background: url('../../Assets/img/Groupe328.png') no-repeat no-repeat;
    width: 100%;
    z-index: 2;
}
.green-wave {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 120%;
    z-index: -3;
    background: url('../../Assets/img/Trace3.png') no-repeat no-repeat;
    background-position: right top;
}

.devices {
    position: absolute;
    right: 150px;
    top: 150px;
    width: 500px;
    z-index: -1;
    background-position: right top;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
        
}

.navbar.scrolled {
    background-color: #27bd59;
    transition: 140ms linear;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(185, 184, 184) !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.mobile-logo {
    width: 150px;
}
.title {
    margin-bottom: 30px;
}

.btn {
    border-radius: 0px !important;
}

.btn-white {
    -webkit-box-shadow: 0px 3px 2px #666666;
    -moz-box-shadow: 0px 3px 2px #666666;
    box-shadow: 0px 1px 2px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    background: #ffffff;
    padding: 6px 21px 6px 21px;
    text-decoration: none;
}

.valign-container {
    height: 100vh;
}

.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
}

.left-div h1 {
    margin-bottom: 56px;
}
@media (min-width: 320px) and (max-width:566px) {
    .green-wave {
        opacity: 0.5;
        filter: alpha(opacity=50);
        width: 120%;
        background: url('../../Assets/img/Trace3.png') no-repeat no-repeat;
    }
    .devices {
        position: absolute;
        right: 26px;
        top: 270px;
        width: 224px;
        z-index: -1;
        background-position: right top;
    }
    .display-3 {
        font-size: 3.8rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .btn-white {
        position: absolute;
        width:100%;
        margin-left: 0px;
        margin-right:20px;
    }
}  
@media (max-width: 575px){
    .green-wave {
        opacity: 0.5;
        filter: alpha(opacity=50);
        width: 120%;
        background: url('../../Assets/img/Trace3.png') no-repeat no-repeat;
    }
    .devices {
        position: absolute;
        right: 26px;
        top: 270px;
        width: 224px;
        z-index: -1;
        background-position: right top;
    }
    .display-3 {
        font-size: 3.8rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .btn-white {
        position: absolute;
        width:100%;
        margin-left: 0px;
        margin-right:20px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .green-wave {
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* For IE8 and earlier */
        width: 110%;
        background: url('../../Assets/img/Trace3.png') no-repeat no-repeat;
    }
    .devices {
        position: absolute;
        right: 26px;
        top: 270px;
        width: 224px;
        z-index: -1;
        background-position: right top;
    }
    .display-3 {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .btn-white {
        position: absolute;
        width:100%;
        margin-left: 0px;
        margin-right:20px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .green-wave {
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* For IE8 and earlier */
        width: 90%;
        height:120%;
        background: url('../../Assets/img/Trace3.png') no-repeat no-repeat;
    }
    .devices {
        position: absolute;
        right: 150px;
        top: 270px;
        width: 350px;
        z-index: -1;
        background-position: right top;
    }
    .display-3 {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .btn-white {
        position: absolute;
        width:100%;
        margin-left: 0px;
        margin-right:20px;
    }
}
@media (min-width: 992px){
    .About-us {
        height: 100vh;
        top: 870px !important;
        position: absolute;
        width: 100%;
        z-index: -3;
    }
    .green-wave {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -3;
        background: url('../../Assets/img/Trace3.png') no-repeat no-repeat;
        background-position: right top;
    }
    .devices {
        position: absolute;
        right: 150px;
        top: 150px;
        width: 500px;
        z-index: -1;
        background-position: right top;
    }
    .display-3 {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .mobile-logo {
        visibility: hidden;
    }
}
@media (min-width: 768px) {
    .left-div {
        width: 450px;
    }
}