.technology {
    height: 100vh;
    top: 1185px;
    position: absolute;
    width: 100%;
    z-index: -2;
    left: -75px;
    margin-top: 130px;
}

.title {
    font-size: 45px;
    color: #A7A7A7;
}

.middle {
    padding: 90px;
    margin-top: 150px;
    vertical-align: middle;
}

.pseudo_border {
    position: relative;
    display: inline-block;
}

.pseudo_border:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    margin: 10px auto;
    width: 50%;
    height: 5px;
    background: #2BC25E;
}

.Soustraction-2 {
    position: absolute;
    right: -75px;
    top: 105px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../../Assets/img/Rectangle9.png') no-repeat no-repeat;
    background-position: right top;
}

.Soustraction-3 {
    position: absolute;
    right: -75px;
    top: 345px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../../Assets/img/Rectangle10.png') no-repeat no-repeat;
    background-position: right top;
}

.Soustraction-4 {
    position: absolute;
    right: -75px;
    top: 510px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../../Assets/img/Rectangle13.png') no-repeat no-repeat;
    background-position: right top;
}

.images-div {
    margin-top: 120px;
}

.text-div {
    font-size: 26px;
}

.space {
    margin-top: 30px;
}

.img-tech {
    margin-right: 35px;
}

.btn-white-tech {
    -webkit-box-shadow: 0px 3px 2px #666666;
    -moz-box-shadow: 0px 3px 2px #666666;
    box-shadow: 0px 1px 2px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    background: #ffffff;
    padding: 6px 21px 6px 21px;
    text-decoration: none;
}

.bts {
    background: none;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 2px;
    color: #fff;
    padding: 0px 6px 0px 6px;
    margin-right: 15px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width:563px) {
    .middle {
        padding: 65px;
        margin-top: 150px;
        vertical-align: middle;
    }
    .images-div {
        margin-top: 120px;
        width: 145% !important;
    }
    .img-tech {
        margin-right: -32px !important;
        width: 100%;
    }
    .bts {
        background: none;
        border: none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
        border-bottom: 2px;
        color: #fff;
        padding: 0px 0px 0px 2px;
        margin-right: 15px;
        border-bottom: 3px solid transparent;
        cursor: pointer;
    }
}

@media (max-width: 575px) {
    .Soustraction-2 {
        position: absolute;
        right: -75px;
        top: 165px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Rectangle9-2.png') no-repeat no-repeat;
        background-position: right top;
    }
    .Soustraction-3 {
        position: absolute;
        right: -75px;
        top: 345px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Rectangle10-2.png') no-repeat no-repeat;
        background-position: right top;
    }
    .Soustraction-4 {
        position: absolute;
        right: -75px;
        top: 510px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Rectangle13-2.png') no-repeat no-repeat;
        background-position: right top;
    }
    .technology {
        height: 100vh;
        top: 1080px;
        position: absolute;
        width: 100%;
        z-index: -2;
        left: -75px;
        margin-top: 130px;
    }
    .bts {
        margin-right: 11px;
    }
    .img-tech {
        margin-right: -19px;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .Soustraction-2 {
        position: absolute;
        right: -75px;
        top: 16px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Rectangle9.png') no-repeat no-repeat;
        background-position: right top;
    }
    .Soustraction-3 {
        position: absolute;
        right: -75px;
        top: 340px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Rectangle10.png') no-repeat no-repeat;
        background-position: right top;
    }
    .Soustraction-4 {
        position: absolute;
        right: -75px;
        top: 510px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Rectangle13.png') no-repeat no-repeat;
        background-position: right top;
    }
    .technology {
        height: 100vh;
        top: 1080px;
        position: absolute;
        width: 100%;
        z-index: -2;
        left: -75px;
        margin-top: 130px;
    }
    .bts {
        margin-right: 7px;
    }
    .img-tech {
        margin-right: -19px;
        width: 100%;
    }
    .text-div {
        width: 100% !important;
        margin-top: 40px;
    }
    .btn-white-tech {
        -webkit-box-shadow: 0px 3px 2px #666666;
        -moz-box-shadow: 0px 3px 2px #666666;
        box-shadow: 0px 1px 2px #666666;
        font-family: Arial;
        color: #000000;
        font-size: 20px;
        background: #ffffff;
        padding: 10px 45px 10px 45px;
        text-decoration: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Soustraction-2 {
        position: absolute;
        right: -75px;
        top: 16px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Rectangle9.png') no-repeat no-repeat;
        background-position: right top;
    }
    .Soustraction-3 {
        position: absolute;
        right: -75px;
        top: 340px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Rectangle10.png') no-repeat no-repeat;
        background-position: right top;
    }
    .Soustraction-4 {
        position: absolute;
        right: -75px;
        top: 510px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../../Assets/img/Rectangle13.png') no-repeat no-repeat;
        background-position: right top;
    }
    .technology {
        height: 100vh;
        top: 1080px;
        position: absolute;
        width: 100%;
        z-index: -2;
        left: -75px;
        margin-top: 130px;
    }
    .bts {
        margin-right: 7px;
    }
    .img-tech {
        margin-right: -19px;
        width: 100%;
    }
}