.Footer {
    height: 100vh;
    top: 3750px;
    position: absolute;
    width: 100%;
    z-index: 0;
    /* left: -75px; */
    margin-top: 130px;
}

section {
    padding: 24px 0px;
}

#contact {
    padding: 0px;
}

.background {
    height: 100%;
    widows: 100%;
    background: url('../../Assets/img/Trace402.png');
    background-size: cover;
    z-index: -10;
}

#contact h1 {
    line-height: 1;
    margin-bottom: 24px;
    color: #000;
    font-size: 70px
}

#contact h5 {
    line-height: 1.5;
    margin-bottom: 27px;
    color: #A7A7A7;
    width: 295px;
    margin-top: 40px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: transparent;
    border-radius: .3rem;
}

#contact .list-group-item {
    border: none;
    padding-left: 0px;
    background: transparent;
}

#contact .list-group-item svg {
    margin-right: 8px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none !important;
    border-radius: 0px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 2px #666666;
    -moz-box-shadow: 0px 1px 2px #666666;
    box-shadow: 0px 1px 2px #666666;
}

#contact .list-group-item svg {
    background: none;
    border-radius: none;
    padding: 0px;
    font-size: 20px;
    margin-top: 0px;
}

footer {
    background: url('../../Assets/img/footer.png') no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    position: absolute;
    left: 0px;
    background-color: #f6f6f6;
}

.footer_content {
    min-height: 100px;
    position: relative;
    top: 150px;
    padding-bottom: 24px;
    background: #35CC68;
}

.footer_content .nav {
    padding-top: 40px;
    margin-bottom: 24px;
}

.footer_content .nav a {
    color: white;
    opacity: .7;
    transition: .5s all;
}

.footer_content .nav a:hover {
    opacity: 1;
}

.count {
    max-width: 1305px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
}

.fa-heart {
    margin-left: 5px;
}

.fa-coffee {
    margin-right: 5px;
    margin-left: 5px;
}

.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-linkedin,
.fa-github {
    font-size: 25px;
}

.nav-icon {
    padding-right: 1rem;
    padding-left: 1.1rem;
}

@media (min-width: 280px) and (max-width:419px) {
    .Footer {
        height: 100vh;
        top: 4500px;
        position: absolute;
        width: 100%;
        z-index: 0;
        margin-top: 130px;
    }
}

@media(max-width: 567px) {
    .Footer {
        height: 100vh;
        top: 4100px;
        position: absolute;
        width: 100%;
        z-index: 0;
        margin-top: 130px;
    }
    .spacing {
        margin-left: -57px;
        margin-right: -45px;
    }
    #contact h5 {
        line-height: 1.5;
        margin-bottom: 27px;
        color: #A7A7A7;
        width: 250px;
        margin-top: 40px;
    }
}
@media (max-width: 320px){
    .Footer {
        height: 100vh;
        top: 4520px;
        position: absolute;
        width: 100%;
        z-index: 0;
        margin-top: 130px;
    }
    .contacts {
        margin-top: -55px !important;
    }
}
@media (max-width: 420px){
    .Footer {
        height: 100vh;
        top: 4520px;
        position: absolute;
        width: 100%;
        z-index: 0;
        margin-top: 130px;
    }
    .contacts {
        margin-top: -55px !important;
    }
}
@media(min-width: 568px) and (max-width: 767px) {
    .Footer {
        height: 100vh;
        top: 4110px;
        position: absolute;
        width: 100%;
        z-index: 0;
        margin-top: 130px;
    }
    .spacing {
        margin-left: -57px;
        margin-right: -45px;
    }
    .contacts {
        margin-top: -55px !important;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .Footer {
        height: 100vh;
        top: 4120px;
        position: absolute;
        width: 100%;
        z-index: 0;
        margin-top: 130px;
    }
    .spacing {
        margin-left: -57px;
        margin-right: -45px;
    }
    .contacts {
        margin-top: -55px !important;
    }
}